.header-style {
	background-image: url("background.jpg");
	background-size: cover;

}

.schools-images {
  height: 300px;
  background-size: cover;
  border: 2px solid darkgray;
  color: #000; text-shadow: 1px 1px 0 #fff;

}

.schools-text {
	font-style: italic;
}

.schools-margin {
	margin: 10px;
}

.text-style {
	position: center;
	font-style: italic;
	
	
}
